h3.mvp-post-cat {
    margin-bottom: 10px;
    width: 100%;
    padding-top: 100px;
}
.left, .alignleft {
    float: left;
}

span.mvp-post-cat {
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    padding: 5px 13px;
    text-transform: uppercase;
    -webkit-transform: skewX(-15deg);
    -moz-transform: skewX(-15deg);
    -ms-transform: skewX(-15deg);
    -o-transform: skewX(-15deg);
    transform: skewX(-15deg);
    background-color: #FFDE59;
}

.post-title {
    font-weight: 800;
    font-size: 36px;
    padding-top: 20px;
}

.author-main {
    font-size: 12px;
    color: grey;
    margin-top: 25px;
    .name {
        margin: 0;
        font-weight: bold;
        text-transform: uppercase;
    }
    .date {
        margin: 0;
    }
}

.post-body {
    margin-top: 30px;
    a {
        text-decoration: underline;
        text-decoration-color: #FFDE59;
        font-weight: bold;
        &:hover {
            color: #FFDE59;
        }
    }
}

.post-tags a .button {
    background-color: #000;
    color: #fff;
    padding: 10px;
}

.auth-condition {
    display: block;
    border: 1px solid #000;
    margin: 30px 0px;
    text-align: center;
    font-size: 16px;
    color: #000;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 500;
    &:hover {
        background-color: #000;
        color: #fff;
    }
}

.related .post-content h5{
    font-weight: 800;
    font-size: 16px;
    border-bottom: 1px solid grey;
    padding-bottom: 5px;
    &:hover {
        color: #ff005b;
    }
}